/.vs
/admin
/adv
/assets
/bbi
/clear points
/cs
/css
/cssjs
/data
/dealer
/download
/fonts
/i
/images
/img
/js
/lib
/mi
/MReport
/pdfmenu
/ph
/pi
/pic
/service
/update
/*.cs
/*.aspx
/*.html
/*.config
!/web.config
/*.css
/*.js
/*.gif
!/cs/sqlstring.cs
