<configuration>
	<configSections>
		<sectionGroup name="system.web">
		</sectionGroup>
	</configSections>
	<system.web>
    <httpRuntime requestValidationMode="2.0" />
		<globalization culture="en-NZ" uiCulture="en-NZ"/>
		<sessionState cookieless="false" timeout="180"/>
		<pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<customErrors mode="Off" defaultRedirect="customfault.htm"/>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="192.168.1.77" port="25"/>
			</smtp>
		</mailSettings>
	</system.net>
	<runtime>
	
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
	
	<dependentAssembly>
	
	
	
	<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
	
	
	
	<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
	
	
	</dependentAssembly>
	
	
	<dependentAssembly>
	
	
	
	<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
	
	
	
	<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
	
	
	</dependentAssembly>
	
	</assemblyBinding>
	</runtime>
</configuration>
