<configuration>
	<configSections>
		<sectionGroup name="system.web">
		</sectionGroup>
	</configSections>

	<system.web>
		<globalization culture="en-NZ" uiCulture="en-NZ" />
  <sessionState cookieless="false" timeout="180" />
		<pages validateRequest="false" />
        <customErrors mode="Off" defaultRedirect="customfault.htm"/>
		<compilation debug="true"/>

	</system.web>
	<system.net>
    		<mailSettings>
	      	<smtp >
        		<network host="192.168.1.77" port="25"  />
      		</smtp>
	    </mailSettings>
	</system.net>


</configuration>